@import "tailwindcss";

@font-face {
  font-family: "Zen Kaku Gothic New";
  src: local("dummy");
  font-display: optional;
}

:root {
  --font-sans: "Zen Kaku Gothic New", "sans-serif";
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-sans);
}

h2 {
  /* h2 には bold（= 700）が適用されます */
  font-weight: bold;
}
