---
import { Image } from "astro:assets";
import Button from "../starwind/button";
import logo from '../../../public/logo.svg';
---

<header class="max-w-screen pt-10 flex justify-center bg-white">
  <div class="max-w-8xl w-full mx-4 flex justify-between items-center px-4 md:px-0">
    <Image
      src={logo}
      alt="logo"
      width={131}
      height={29}
      loading="eager"
      fetchpriority={"high"} />
    <div class="gap-8 hidden md:flex">
      <a href="#">デザラボとは</a>
      <a href="#">コンセプト</a>
      <a href="#">できること</a>
    </div>
    <Button
      variant="default"
      size="lg"
      class="rounded-full font-bold text-primary hover:bg-primary hover:text-white bg-transparent border-2 border-primary h-[63px] px-8"
    >
      アプリを事前登録
    </Button>
  </div>
</header>
