---
import FeatureItem from "../ui/FeatureItem.astro";
---

<section class="flex flex-col gap-16 pb-28 px-8 w-7xl:px-0 max-w-8xl w-full mx-auto">
  <div class="flex flex-col gap-2 items-start">
    <h2 class="text-gradient-primary text-lg inline-block">でざらぼが描く未来</h2>
    <h3 class="text-7xl font-bold">For future</h3>
  </div>
  <FeatureItem
    span="With Respect"
    title="デザイナーが <br> 尊重し合えるコミュニティに。"
    body="作品を評価する場所じゃなくて、 「どうしたらもっと良くなるかな？」を一緒に考える場所。お互いの背景や気持ちを想像しながら、批判じゃなく前向きなアイデアを送り合います。みんなでゆるく助け合いながら、クリエイティブの芽を育てていくコミュニティです。"
  />
  <FeatureItem
    span="With Respect"
    title="デザイナーが <br> 技術を共有し合える世界に。"
    body="ひとりの頭の中に眠っているノウハウやアイデアを、みんなで気軽にシェアしていく場所です。小さな発見が誰かの助けになったり、別のアイデアにつながったりする。知識が自由に行き来することで、デザインはもっとスムーズに、もっと楽しく進んでいく。"
  />
</section>