---
import { Image } from "astro:assets";
import Button from "../starwind/button";
import heroImage from '../../assets/hero-main-visual.svg';
---

<section class="min-h-screen bg-linear-to-t from-primary-bg to-white flex justify-center items-center">
  <div class="w-full max-w-7xl mx-4 grid grid-cols-2 items-center px-4 lg:px-0">
    <div class="flex flex-col gap-12 items-start">
      <h2 class="font-bold text-5xl leading-20 -mt-20">
        デザインの裏側まで、<br>
        共有できる<span class="text-6xl text-primary">世界</span>へ。
      </h2>
      <div class="text-lg">
        技術も、思考も、DesaLabo は、<br>“つくる”を深めるためのプラットフォームです。
      </div>
      <Button
        variant="default"
        size="lg"
        class="rounded-full font-bold text-white hover:bg-primary-hover hover:text-white bg-primary h-[63px] px-8"
      >
        アプリを事前登録
      </Button>
    </div>
    
    <!-- <div class="-mr-40 -mt-16">
      <Image
        src={heroImage}
        alt="Hero"
        width={851}
        height={621}
        class="w-full"
        loading="eager"
        fetchpriority={"high"}
      />
    </div> -->

  </div>
</section>