---
import { Image } from "astro:assets";
import thinkingIllust from "../../assets/thinking-illust.svg";
---

<section class="bg-primary-bg py-60">
  <div class="flex flex-col gap-28 items-center">
    <h2 class="bg-primary text-lg text-white p-4 rounded-[28px] rounded-bl-none px-10 py-5 inline-block">
      デザイナーの皆さんこんなお悩みありませか？
    </h2>
    <Image src={thinkingIllust} alt="考えている人のイラスト" width={248} height={248} />
  </div>
</section>