---
import Button from "../components/starwind/button";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <Button
    variant="default"
    size="md"
    class="rounded-full bg-primary h-[63px] px-8"
  >
    アプリを事前登録
  </Button>
</Layout>
