---
import { Image } from "astro:assets";
import watchingComputer from "../../assets/card/watching-computer.svg"
---

<div class="max-w-[457px] rounded-[20px] bg-white p-7 h-[519px] flex flex-col gap-8">
  <div class="w-[401px] h-[271px] flex items-center justify-center rounded-[14px] bg-radial from-white to-[#D8F1F3]">
    <Image
      src={watchingComputer}
      alt={""}
      width={227}
      height={168}
      class="select-none pointer-events-none"
    />
  </div>
  <div class="flex flex-col gap-5">
    <h4 class="font-bold text-2xl">先人の知見をのぞこう</h4>
    <p class="text-subtile text-base">あのイーハトーヴォのすきとおった風、夏でも底に冷たさをもつ青いそら、うつくしい森で飾られたモリーオ市、郊外のぎらぎらひかる草の波。</p>
  </div>
</div>